apiVersion: v1
kind: Service
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "2"
  labels:
    app: pause-7
    project: project-pause
  name: pause-7
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
  selector:
    app: pause-7
    project: project-pause
  type: ClusterIP
