apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "2"
  labels:
    app: nginx
    project: project-nginx
  name: nginx
spec:
  replicas: 5
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: nginx
      project: project-nginx
  strategy:
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      annotations:
        uuid: {"9dc51dfa-7792-4280-85c8-14997b112c47"}
      labels:
        app: nginx
        project: project-nginx
    spec:
      containers:
        - env:
            - name: ENVIRONMENT
              value: production
            - name: UUID
              value: "9dc51dfa-7792-4280-85c8-14997b112c47"
          image: public.ecr.aws/nginx/nginx
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 5
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 3
          name: nginx
          readinessProbe:
            failureThreshold: 5
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 3
          resources:
            limits:
              cpu: 400m
              memory: 32Mi
            requests:
              cpu: 10m
              memory: 16Mi
          startupProbe:
            failureThreshold: 10
            httpGet:
              path: /
              port: 80
            periodSeconds: 10
      serviceAccountName: nginx
