apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "2"
  labels:
    app: nginx
    project: project-nginx
  name: nginx
spec:
  replicas: 5
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: nginx
      project: project-nginx
  strategy:
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      annotations:
        ad.datadoghq.com/tags: '{"app":"app","component":"component","subcomponent":"subcomponent","environment":"environment","git.commit.sha":
                  "22596363b3de40b06f981fb85d82312e8c0ed512", "git.repository_url": "git.repository_url", "team":
                  "team", "businessunit": "businessunit"}'
      labels:
        app: nginx
        project: project-nginx
    spec:
      containers:
        - env:
            - name: ENVIRONMENT
              value: production
            - name: UUID
              value: "22596363b3de40b06f981fb85d82312e8c0ed511"
          image: public.ecr.aws/nginx/nginx
          imagePullPolicy: Always
          livenessProbe:
            failureThreshold: 5
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 3
          name: nginx
          readinessProbe:
            failureThreshold: 5
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 3
          resources:
            limits:
              cpu: 400m
              memory: 32Mi
            requests:
              cpu: 10m
              memory: 16Mi
          startupProbe:
            failureThreshold: 10
            httpGet:
              path: /
              port: 80
            periodSeconds: 10
      serviceAccountName: nginx
